extends layout
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
block content
  div
    nav(id="nav" class="nav-bar")
      form(action="/" method="post" id="demo" class="demo")
        button(type="submit" class="logout-btn") Logout
  div(class="header")
    h1= title
      div(class="search")
        p Find your next trail!
          br
          input(type="text" id="search-bar" class="search-bar")
