
h1 {
    color: #555555;
    position: relative;
    margin: 20px;
    bottom: 5px;
    left: 875px; 
    
}

.search-bar {
    border-radius: 30px;
    width: 70%;
    height: 45px;
    font-size: 22px;
    text-align: center;
    position: relative;
    top: 5px;
    left: 285px
}


.logout-btn {
    float: right;
    margin: 10px;
    border-radius: 6px;
    color: white;
    background-color: lightblue;
    border: solid 1px white;
    width: 100px;
    height: 30px;
    font-size: 15px;
}


img {
    width: 700x;
    height: 600px;
    display: block;
    margin: auto;
    border-radius: 6px;
}

.name {
    text-align: center;

}

.details {
    text-align: justify;
    border: 5px solid grey;
    /* font-size: 40px; */
    overflow: hidden;
}