h1 {
    text-align: center;
    padding: 10px;
    font-family: “Open Sans”, Arial, sans-serif;;
    font-weight: 700;
}
.email,
.password,
.username {
    font-family: "Open Sans", Arial, sans-serif;
    display: flex;
    width: 250px;
    height: 30px;
    background-color: white;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

label {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 90px;
    padding: 0px 10px 10px 10px;
}

input {
    display: block;
    margin: auto;
    border: solid 1px grey;
}
.signup-btn {
    display: block;
    margin: auto;
    background-color: #EA4C89;
    color: white;
    border-radius: 6px;
    border: solid 1px white;
    width: 250px;
    height: 30px;
    font-size: 15px;
}
p {
    display: block;
    overflow: hidden;
    text-align: center;
    text-decoration: overline;
}
#signup {
    padding: 10px;
}
.container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 2fr;
    width: 100%;
    height: 100%;
}

.form-container  {
   display: block;
   margin: auto;
}
.color-block {
    background-color: #f2d184;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-input {
    margin-bottom: 10px;
}

nav {
    display: block;
}

a {
    color:blue;
}

.alert-danger {
    border: solid 5px white;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.2);
    font-size: 15px;
}

li {
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
}

li::marker {
    visibility: hidden;
    color: transparent;
}
img {
    width: 60%;
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 15px 0;
    border-radius: 6px;
}

.word {
    font-weight: 700;
    font-size: 28px;
    margin: 20px 0;
    font-family: "Open Sans", Arial, sans-serif;
    /* color: #8f6978; */

}

.logo {
    float:left;
    font-family: "Dancing Script", cursive;
    font-weight:800;
    font-size: 30px;
    text-decoration: none;
}
